# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you always want normalized and converted to native line endings on checkout
*.ts text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.sql text eol=lf

# Windows scripts
*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.db binary
*.sqlite binary
*.onnx binary
